.ui-button {
  border: 1px solid #003c74;
  border-radius: 2px;
  box-shadow: 0px 1px 0 #fff;
  font-size: 12px;
  line-height: 18px;
  min-width: 72px;
  background: rgb(255,255,255);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(248,248,246,1) 15%, rgba(248,248,246,1) 85%, rgba(214,208,197,1) 100%);
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(248,248,246,1) 15%,rgba(248,248,246,1) 85%,rgba(214,208,197,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(248,248,246,1) 15%,rgba(248,248,246,1) 85%,rgba(214,208,197,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d6d0c5',GradientType=0 );

  &:disabled {
    background: #f5f4ea;
    color: #a1a192;
    border-color: #c9c7ba;
  }
}